@font-face {
	font-family: 'TTLakes-thin';
	src: url('../fonts/TTLakes-Regular.woff') format('woff2'),
		url('../fonts/TTLakes-Regular.woff') format('woff'),
		url('../fonts/TTLakes-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	font-family: 'TTLakes-thin', sans-serif;
	width: 100%;
	background-color: #f8f8f8;
	background-repeat: no-repeat;
}

header {
	padding-left: 15px;
	min-height: 56px;
	height: auto;
	display: flex;
	background: linear-gradient(to right, #f8f8f8, white);
	align-items: center;
}

h1 {
	font-size: 16px;
	font-weight: 100;
	color: #7e7e82;
}

.uppercase {
	text-transform: uppercase;
}

main {
	margin-top: 20px;
	padding-left: 25px;
	padding-right: 15px;
}

.circle {
	width: 40px;
	height: 40px;
	border: 2px solid #ff3e79;
	border-radius: 50%;
}

.circle::before {
	content: '';
	display: block;
	transform: rotate(45deg) translate(21px, 2px);
	width: 7.5px;
	height: 7.5px;
	border-top: 2px solid #ff3e79;
	border-right: 2px solid #ff3e79;
}

a div:hover {
	opacity: 0.5;
	transition-duration: 1s;
	transition-timing-function: ease;
}

.swiper {
	height: 120px;
}

.swiper-wrapper .swiper-slide {
	display: flex;
	width: 192px;
	height: 70px;
	background-color: white;
	border-radius: 6px;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	border: solid 1px #eaeaea;
}

.swiper .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	line-height: 12px;
	font-size: 12px;
	background-color: #b5b6bc;
}

.hide {
	display: none;
}

@media (min-width: 768px) {
	.swiper {
		height: auto;
	}

	.swiper-wrapper {
		flex-wrap: wrap;
		gap: 20px;

		align-items: flex-start;
	}

	.hide {
		display: flex;
		gap: 15px;
		margin-left: 5px;
		margin-top: 30px;
		align-items: center;
	}

	.swiper-wrapper .hide-768 {
		display: none;
	}

	.hide a {
		font-family: 'TTLakes-thin', sans-serif;
		text-decoration: none;
		color: black;
		font-weight: 900;
	}

	.hide .close {
		display: none;
	}
}

@media (min-width: 1120px) {
}
